# Date you started the challenge
start_date: 2025-08-12 #year-month-day

# Local repos to scan
repo_path:
  - /Users/Michelle/data-science/git2tweet

# Context of all projects working on
repo_context:
  /Users/Michelle/data-science/git2tweet:
    - Name: git2tweet
    - Context: "Git2tweet is a github to twitter bot that automatically scans my github repo for latest commits, creates a viral twitter post for the #100daysofcode challenge and posts it."
